@font-face {
  font-family: 'iconfont';
  src: url("../fonts/iconfont.eot");
  src: url("../fonts/iconfont.eot?#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype"), url("../fonts/iconfont.svg#iconfont") format("svg"); }
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

html {
  height: 100%; }
  html ::-webkit-scrollbar {
    width: 1px;
    height: 1px;
    color: transparent; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding-bottom: 3rem;
  overflow: hidden;
  background: #FFFAFA; }

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  margin: 0;
  box-sizing: border-box; }

.footer ul {
  width: 100%;
  height: 3rem;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-sizing: border-box;
  border-top: 1px solid #ccc;
  position: absolute;
  padding: 0;
  bottom: 0; }

.footer ul li {
  width: 100%;
  height: 3.3333333333rem;
  text-align: center;
  margin-top: 3px; }

.footer ul li a {
  font-size: 10px;
  text-decoration: none;
  margin-bottom: 5px;
  display: block; }

.footer ul li i {
  margin-top: 2px; }

.toubu_sousuo {
  width: 100%;
  height: 2.3333333333rem;
  background: red;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between; }
  .toubu_sousuo .icon {
    width: 3em;
    height: 1.5em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    margin-top: 0.4666666667rem; }
  .toubu_sousuo ::-webkit-input-placeholder {
    font-size: 10px;
    line-height: 25px;
    text-align: center; }
  .toubu_sousuo input {
    width: 18rem;
    height: 1.6666666667rem;
    border-radius: 10px;
    margin-top: 0.3rem; }

.toubu_one {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; }
  .toubu_one .navigation_one {
    width: 100%;
    height: 2.6666666667rem; }
    .toubu_one .navigation_one ul {
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 0;
      line-height: 2.6666666667rem;
      list-style: none;
      display: flex;
      justify-content: space-around; }
  .toubu_one .recommend_one {
    width: 100%;
    height: 100%; }
    .toubu_one .recommend_one ul {
      width: 100%;
      height: 100%;
      border: 1px solid #CCCCCC;
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: space-around; }
      .toubu_one .recommend_one ul li {
        width: 100%;
        height: 100%;
        text-align: center; }
        .toubu_one .recommend_one ul li .icon {
          width: 3em;
          height: 3em;
          vertical-align: -0.15em;
          fill: currentColor;
          overflow: hidden;
          border-bottom: 1px solid red;
          border-radius: 50%;
          margin-top: 8px;
          padding: 3px; }
        .toubu_one .recommend_one ul li p {
          font-size: 10px; }
  .toubu_one .single_one {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0; }
    .toubu_one .single_one h5 {
      width: 100%;
      height: 1.5rem; }
    .toubu_one .single_one .time_one {
      width: 100%;
      height: 100%; }
      .toubu_one .single_one .time_one ul {
        width: 100%;
        height: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; }
        .toubu_one .single_one .time_one ul li {
          width: 32.5%;
          height: 100%;
          font-size: 12px; }
          .toubu_one .single_one .time_one ul li img {
            width: 100%;
            height: 100%; }
          .toubu_one .single_one .time_one ul li a {
            width: 3.3333333333rem;
            height: 1rem;
            display: block;
            transform: translate(5rem, -8.2rem);
            color: white; }
          .toubu_one .single_one .time_one ul li span {
            width: 100px;
            display: block;
            text-align: center;
            padding: 0;
            margin: -0.3333333333rem 0.3333333333rem 0.3333333333rem 0.6666666667rem;
            display: flex;
            justify-content: center; }

.neirong_sousuo {
  width: 100%;
  height: 2.3333333333rem;
  background: red;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  color: white; }
  .neirong_sousuo a {
    color: white;
    line-height: 2.3333333333rem; }
  .neirong_sousuo a:nth-child(1) {
    width: 4rem;
    text-align: center; }
  .neirong_sousuo .icon {
    width: 3em;
    height: 1.5em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    margin-top: 0.4666666667rem; }

.neirong_two {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }
  .neirong_two ul {
    width: 100%;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0; }
    .neirong_two ul li {
      width: 100%;
      height: 3.3333333333rem;
      line-height: 4rem; }
      .neirong_two ul li .icon {
        width: 2em;
        height: 2em;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden; }
      .neirong_two ul li a:nth-child(1) {
        width: 20%;
        height: 3.3333333333rem;
        display: block;
        float: left;
        text-align: center;
        text-decoration: none; }
      .neirong_two ul li a:nth-child(2) {
        width: 70%;
        height: 3.3333333333rem;
        display: block;
        float: left;
        line-height: 3.3333333333rem;
        text-decoration: none;
        border-bottom: 1px solid #CCCCCC; }
      .neirong_two ul li a:nth-child(3) {
        width: 10%;
        height: 3.3333333333rem;
        display: block;
        float: left;
        color: #CDC9C9;
        line-height: 3.3333333333rem;
        text-decoration: none;
        border-bottom: 1px solid #CCCCCC;
        text-align: center;
        font-size: 10px; }
      .neirong_two ul li .qqq {
        border-bottom: none !important; }

.neirong_collect {
  width: 100%;
  height: 100%; }
  .neirong_collect .smitile {
    width: 100%;
    height: 100%;
    margin: 0; }
    .neirong_collect .smitile .smtitle_a {
      width: 100%;
      height: 2rem;
      line-height: 2rem;
      background-color: #EBEBEB;
      display: block;
      text-decoration: none;
      text-indent: 1.5em; }
    .neirong_collect .smitile ul {
      display: none;
      width: 100%;
      height: 100%;
      list-style: none; }
      .neirong_collect .smitile ul li {
        width: 100%;
        height: 2.6666666667rem;
        margin-top: 0.2rem; }
        .neirong_collect .smitile ul li img {
          height: 2.6666666667rem;
          float: left; }
        .neirong_collect .smitile ul li p {
          padding: 0;
          margin: 0;
          float: left;
          margin-left: 0.5333333333rem;
          margin-top: 0.2rem;
          line-height: 2.6666666667rem; }
        .neirong_collect .smitile ul li p:nth-last-of-type(1) {
          color: #CDC9C9;
          font-size: 10px;
          float: right; }

.neirong_list {
  width: 100%;
  height: 100%; }
  .neirong_list .yiji {
    width: 100%;
    height: 100%;
    list-style: none;
    background: #EBEBEB;
    margin: 0;
    padding: 0; }
    .neirong_list .yiji li {
      width: 100%;
      height: 2rem; }
      .neirong_list .yiji li a {
        width: 100%;
        height: 2rem;
        line-height: 2rem;
        display: block;
        text-decoration: none;
        text-indent: 1.5em; }
      .neirong_list .yiji li ul {
        width: 100%;
        height: 100%;
        list-style: none;
        background: transparent;
        margin: 0;
        padding: 0; }
        .neirong_list .yiji li ul li {
          width: 100%;
          height: 100%;
          margin-top: 0.2rem; }
          .neirong_list .yiji li ul li img {
            height: 2.6666666667rem;
            float: left;
            margin-left: 20px; }
          .neirong_list .yiji li ul li .active {
            height: 2.6666666667rem; }
          .neirong_list .yiji li ul li ul {
            width: 100%;
            height: 100%;
            display: none; }
            .neirong_list .yiji li ul li ul li {
              width: 100%;
              height: 2.3333333333rem;
              background: salmon; }
              .neirong_list .yiji li ul li ul li a {
                height: 0.6666666667rem;
                padding-top: 0;
                color: white; }

.tongtai_sousuo {
  width: 100%;
  height: 2.3333333333rem;
  background: red;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; }
  .tongtai_sousuo span {
    color: white;
    line-height: 2.3333333333rem; }

@font-face {
  font-family: 'iconfont';
  src: url("../fonts1/iconfont.eot");
  src: url("../fonts1/iconfont.eot?#iefix") format("embedded-opentype"), url("../fonts1/iconfont.woff") format("woff"), url("../fonts1/.ttf") format("truetype"), url("../fonts1/iconfont.svg#iconfont") format("svg"); }
.tongtai_four {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; }
  .tongtai_four .account {
    width: 100%;
    height: 5.3333333333rem;
    border-bottom: 1px solid #CCCCCC; }
  .tongtai_four .data {
    width: 100%;
    height: 100%; }
    .tongtai_four .data ul {
      width: 100%;
      height: 100%;
      list-style: none;
      display: flex;
      justify-content: space-around;
      margin: 0;
      padding: 0;
      margin-top: 10px; }
      .tongtai_four .data ul li {
        width: 100%;
        height: 2.4rem;
        text-align: center; }
        .tongtai_four .data ul li .iconfont {
          font-family: "iconfont" !important;
          font-size: 16px;
          font-style: normal;
          -webkit-font-smoothing: antialiased;
          -webkit-text-stroke-width: 0.2px;
          -moz-osx-font-smoothing: grayscale;
          color: #CCCCCC;
          display: block;
          height: 1.0666666667rem; }
        .tongtai_four .data ul li p {
          margin: 0;
          padding: 0;
          height: 1.0666666667rem;
          border-right: 1px solid #CCCCCC; }
        .tongtai_four .data ul li .font {
          font-weight: 600; }
        .tongtai_four .data ul li .qqq {
          border-right: none !important; }
  .tongtai_four .gongge {
    width: 100%;
    height: 0.6666666667rem;
    background: #EBEBEB; }
  .tongtai_four .set {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; }
    .tongtai_four .set ul {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      list-style: none; }
      .tongtai_four .set ul li {
        width: 100%;
        height: 2.3333333333rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; }
        .tongtai_four .set ul li .iconfont {
          width: 15%;
          display: block;
          text-align: center;
          margin: auto; }
        .tongtai_four .set ul li span {
          width: 85%;
          display: block;
          margin: auto; }
      .tongtai_four .set ul .quit {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        margin: auto; }
        .tongtai_four .set ul .quit a {
          line-height: 35px;
          color: red; }

/*# sourceMappingURL=man.css.map */
