<div class="tongtai_sousuo">
	<span>账号</span>
</div>
<div class="tongtai_four">
	<div class="account">
		<a href="#">登录后更多精彩</a>
	</div>
	<div class="data">
		<ul>
			<li><p>动态</p><p class="font">0</p></li>
			<li><p>关注</p><p class="font">21</p></li>
			<li><p>粉丝</p><p class="font">999</p></li>
			<li><i class="iconfont">&#xe65c;</i><p class="qqq">我的资料</p></li>
		</ul>
	</div>
	<div class="gongge"></div>
	<div class="set">
		<ul>
			<li><i class="iconfont">&#xe60d;</i><span>我的消息</span></li>
			<div class="gongge"></div>
			<li><i class="iconfont">&#xe693;</i><span>会员中心</span></li>
			<li><i class="iconfont">&#xe66f;</i><span>音乐商城</span></li>
			<li><i class="iconfont">&#xe602;</i><span>在线免流量听歌</span></li>
			<div class="gongge"></div>
			<li><i class="iconfont">&#xe682;</i><span>设置</span></li>
			<li><i class="iconfont">&#xe6da;</i><span>扫一扫</span></li>
			<li><i class="iconfont">&#xe69e;</i><span>个性皮肤</span></li>
			<li><i class="iconfont">&#xe64e;</i><span>夜间模式</span></li>
			<li><i class="iconfont">&#xe636;</i><span>定时关闭</span></li>
			<li><i class="iconfont">&#xe604;</i><span>音乐闹钟</span></li>
			<li><i class="iconfont">&#xe650;</i><span>夜驾模式</span></li>
			<div class="gongge"></div>
			<li><i class="iconfont">&#xe62c;</i><span>分享音乐</span></li>
			<li><i class="iconfont">&#xe61f;</i><span>关于我们</span></li>
			<div class="gongge"></div>
			<li class="quit"><a href="#">退出登录</a></li>
		</ul>
	</div>
</div>
 <!--.scrollbar::-webkit-scrollbar         滚动条整体部分
 ::-webkit-scrollbar-thumb             滚动条里面的小方块，能上下左右移动（取决于是垂直滚动条还是水平滚动条）
 ::-webkit-scrollbar-track      滚动条的轨道（里面装有thumb）
 ::-webkit-scrollbar-button      滚动条轨道两端的按钮，允许通过点击微调小方块的位置
 ::-webkit-scrollbar-track-piece    内层轨道，滚动条中间部分（除去）
 ::-webkit-scrollbar-corner     边角，及两个滚动条的交汇处
 ::-webkit-resizer       两个滚动条的交汇处上用于通过拖动调整元素大小的小控件-->
